.core-layout__viewport {
  padding-top: 4rem;
}

.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  .navbar-collapse,
  .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-toggle {
    margin-left: 10px;
    margin-right: 0;
  }
}

img {
  max-width:100%
}

.modal-container {
  min-width: 420px;
  text-align: left;
  display: inline-block;
  outline: none;
}

.example-appear {
  //opacity: 0.01;
  transform: translate(100%);
}

.example-appear.example-appear-active {
  // opacity: 1;
  // transition: opacity 0.5s ease-in;
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.example-enter {
  //opacity: 0.01;
  transform: translate(100%);

}

.example-enter.example-enter-active {
  //opacity: 1;
  //transition: opacity 0.5s ease-in;
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.example-leave {
  //opacity: 1;
  transform: translate(0%);
}

.example-leave.example-leave-active {
  //opacity: 0.01;
  //transition: opacity 0.5s ease-in;
  transform: translate(-100%);
  transition: transform 300ms ease-in-out;
}
